@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 26px;
  --searchbar-height: 62px;

  /* Primary Color (Light Mode) */
  --clr-primary: #a972cb;
  --clr-primary-dark: #8155a8; /* Darker shade for hover */

  --background: #f8f9fa;
  --foreground: #1a202c;
  --input: #f3f4f6; /* Changed to a light gray for better contrast in light mode */

  --border-input: f3f4f6;
}

/* seem to need this to get the nav bar content to fill the width of the page */
#pageNav>div {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
      --background: #1a202c;
      --foreground: #f7fafc;

      /* Primary Color (Dark Mode) */
      --clr-primary: #980c4c;
      --clr-primary-dark: #74093a; /* Darker shade for hover in dark mode */

      --input: #1f2937; /* Darker input background for dark mode */
      --border-input: #2d3239;
  }
}